<nav>
    <div class="logo">
        <img src="assets/images/logo.png" alt="FarmToYours">
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
    </label>
    <ul>
        <li><a class="active" routerLink="/home-component">Home</a></li>
        <li><a routerLink="/about-component">About</a></li>
        <li>
            <div class="dropdown">
                <a href="#">All Products <i class="fa fa-angle-down"></i></a>
                <div class="dropdown-content">
                    <a routerLink="/fruits-component">Fruits</a>
                    <a routerLink="/vegetables-component">Vegetables</a>
                    <a routerLink="/flowers-component">Flowers</a>
                </div>
            </div>
        </li>
        <li><a routerLink="/support-component">Customer Support</a></li>

    </ul>
    <div class="dropdown">
        <a href="#"><img src="assets/images/bas1.png" alt="basket"></a>
        <div class="dropdown-content">
            <a href="#">View Basket</a>
            <a href="#">Check Out</a>
            <a href="#">Continue Shopping</a>
        </div>
    </div>
    <button class="bt1" routerLink="/login-form-component">Sign in/Sign up</button>
</nav>
<router-outlet></router-outlet>


<!-- <app-home></app-home> -->
<!-- <app-login-form></app-login-form> -->
